$header-bg: #1d2126;
$main-color: #23b7a4;

$bg-sprite1: -10px -10px;
$bg-sprite2: -78px -10px;
$bg-sprite3: -78px -78px;
$bg-sprite4: -10px -78px;
$sprite-width: 48px;
$sprite-height: 48px;
$sprite-width3: 30px;
$font-quattrocento: "Quattrocento Sans", sans-serif;
